# Archivos de configuración sensibles
.env
.env.local
.env.production

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Dependencias
node_modules/

# Archivos temporales
*.tmp
*.temp 